body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#296a9b,#7df085);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 600px;
    background: white;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding-top: 35px;
}
.center form{
    padding: 20px 40px 0 90px;
    box-sizing: border-box;

}

.txt_field input{
    background-color: #eeebeb;
    width: 360px;
    border-radius: 12px;
    height: 30px;
    
}
.txt_area input{
    height: 120px;
    padding-top: 1px;    
    
}
.txt_field {
    padding-bottom: 15px;
}
.btn{
    
    text-align: center;
    justify-content: center;
    padding: 20px 65px 0 20px;

}
.b1{
    color: #fff;
    background-color: rgb(65, 142, 65);
    height: 35px;
    width: 130px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    


}